
.menu{
    float: left;
    background: url("../images/etiqette.png" ) repeat;
    margin: 50px 100px;
}
a{
    font-weight:normal;
}

.insideMenu{
    color: blanchedalmond;
    font-size: 1.2em;
}
.insideMenu h2{
    font-size: 1.7em;
    text-decoration: underline;
    margin-bottom: 15px;
}
.insideMenu p{
    width: 200px;
    max-width: 200px;
}