/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.bienvenue{
    margin: 12.5px 0;
    text-align: center;
    font-size: 1.5em;
    background-color: #838080;
    color: burlywood;
}
.B{
    width: 100%;
    text-align: center;
}
.B2{
    font-family: "Annabelle JF Regular", sans-serif;
    margin: 20px 0;
    margin-right: 400px;
    font-weight: bold;
    font-size: 2.1em;
    width: 100%;
    background-color: rgb(246, 212, 179);
    border-radius: 100px 20px 100px 20px;
}
.flexslider{
    margin-right: 400px;
    margin-left: 400px;
    min-width: 400px;
}
.flexslider .slides img{
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
}
.afterSlider{
    display: none;
}
@media screen and (max-width: 1000px)
{
    .flexslider{
        display: none;
    }
    .afterSlider{
        display: block;
    }
    .afterSlider img{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
}