.bienvenue{
    margin: 12.5px 0;
    text-align: center;
    font-size: 2em;
    background-color: #838080;
    color: burlywood;
}
.B{
    width: 100%;
    text-align: center;
}
.B2{
    font-family: "Annabelle JF Regular", sans-serif;
    margin: 20px 0;
    margin-right: 400px;
    font-weight: bold;
    font-size: 2.1em;
    width: 100%;
}
.flexslider{
    margin-right: 400px;
    margin-left: 400px;
}
.flexslider .slides img{
    /* height: 500px; */
} 
.afterSlider{
    height: 500px;
    margin-bottom: 20px;
}
.afterSlider img{
    height: 100%;
    width: 100%;
}
.afterSlider .after{
}
@media screen and (max-width: 900px)
{
    .flexslider{
        display: none;
    }
}