.B{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
}
.page_menu {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 15px;
}
h3 {
    font-family: 'Palanquin', sans-serif;
    font-size: 1.9em;
    text-transform: uppercase;
}
.h3{
    background-color: #838080;
    color: burlywood;
    margin: 10px;
    border-radius: 50px;;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.4em;
}
.section_menus {
    width: 40%;
}
.section {
    padding: 20px 0;
}
table {
    width: 90%;

}
.menu {
    padding: 10px;
}
.boisson {
    padding: 10px;
}

.text {
   text-transform: capitalize; 
}
.menu .text, .boisson .text {
    text-align: left;
    margin-right: 50px;
    padding: 0 10px;
    
}
.price {
    text-align: end;
}

.contenus {
   margin: 0 50px;
}
.boisson_solo {
    color: black;
}

.boisson_chaudes {
    width: 75%;
}
.boisson_chaudes table {
    padding: 0 50px;

}
.boisson_chaudes .menu {
    color: #FFF;

}
.menu_admin {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(246, 212, 179);
    border-radius: 50px;
}
.menu_admin .section {
    padding: 0 20px;
     font-size: .5em;
}
.menu_admin .section h4{
    padding: 0 20px;
     font-size: 1.5em;
}
.menu_admin .section h3 {
    padding: 0 10px;
}
.menu_admin .text {
    text-align: center;
}
.blanc {
    border-top: 7px solid #fff;
    border-bottom: 7px solid #fff;
}
.blanc .text p {
    color: #AD9677;
}
.blanc1{
    border-left: 7px solid #fff;
}
.blanc2 {
    border-right: 7px solid #fff;
}
.marge_grullo {
    border-top: 30px solid #AD9677;
    border-bottom: 30px solid #AD9677;
    background-color: #fff;
}
.marge_grullo1 {
    border-left: 30px solid #AD9677;
}
.marge_grullo2 {
    border-right: 30px solid #AD9677; 
}
.grullo {
    border-top: 7px solid #AD9677;
    border-bottom: 7px solid #AD9677;
}
.grullo .text p {
    color: #FFF;
}
.grullo1 {
    border-right: 7px solid #AD9677;
}
.grullo2{
    border-left: 7px solid #AD9677;
    color: #FFF;
}
.marge_blanc {
    border-top: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    background-color: #AD9677;
}
.marge_blanc1 {
    border-right: 30px solid #FFF;
}
.marge_blanc2 {
    border-left: 30px solid #FFF;
}
.titres_plats1 {
    background-color: #AD9677;
    color: #FFF;
}
.titres_plats2 {
    background-color: #fff;
    color: #AD9677;
}
.logo {
    width: 100%;
    margin: 50px auto;
}
.logo img {
    width: 80%;
}
.formules, .boisson_chaudes {
    color: #FFF;
    margin: 30px 0;
    padding: 60px 0;
    background: url(../images/etiqette.png) no-repeat 50%;
    width: 100%;
}
.boisson_chaudes {    
    font-size: .8em;
    padding: 75px 50px;
}
.section_special {
    padding: 20px;
    background-color: #434343;
    color: #fff;
}
.special1 {
    margin: 20px;
    border: #fff solid 2px;
}
.section6 {
    color: #FFF;
}
.menu_solo {
    color: black;
}
.separateurs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.separateur {
    background-color: #fff;
    width: 100px;
    height: 2px;
    margin: auto 10px;
}
.separateur_simple {
    margin: 10px auto;
}
.content {
    font-size: 1.2em;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
}
.icon_vin {
    font-size: 30px;
    margin-right: 30px;
}
.note {
    font-size: 1.2em;
}
.note2 {
    color: #AD9677;
    text-align: right;
}
.note3 {
    font-size: .8em;
}
.notes_sup {
    color: #FFF;
}
@media screen and (max-width: 900px){
    body {
        width: 100%;
        margin: 0 auto;
    }
    .page_menu{
         flex-direction: column;
    }
    .section_menus {
         width: 100%;
    }
    .blanc{
        border: 7px solid #fff;
    }
    .marge_grullo {
        border: 30px solid #AD9677;
    }
    .grullo {
        border: 7px solid #AD9677;
    }
    .marge_blanc {
        border: 30px solid #FFF;
    }
    .boisson_chaudes table {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 500px){
    body {
        width: 100%;
        margin: 0 auto;
    }
    .page_menu {
        font-size: .8em;
    }
    .titre_img {
        display: none;
    }
    .section9 th ,.section9 td {
        max-width: 50px;
        width: 100%;
        margin: 5px;
    }
    .section9 h4 {
        font-size: 1em;
    }
    .boisson_chaudes {
        font-size: 1em;
    }
    .separateur {
        width: 50px;
    }
}
@media screen and (max-width: 400px){
    .page_menu {
        font-size: .8em;
    }
    .section9 {
        font-size: .8em;
    }
    .boisson_chaudes {
        font-size: .8em;
    }
    .boisson_chaudes h3 {
        font-size: 1.4em;
    }
}