.B{
    font-size: 2em;
    padding: 50px;
    font-family: "Cookie-Regular", sans-serif;
}
.B .cafe img{
    border-radius: 20px;
}
.B .food{
    width: 50%;
    display: flex;
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
}
.B .food img{
    width: 80%;
    border-radius: 50px;
}
.presentation{
    background-color: rgb(246, 212, 179);
    margin-top: 20px;
    border-radius: 50px;
}