body{
    background-color: burlywood;
}
#formincription{
    max-width: 700px;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    color: rgb(184, 184, 184);
    background-color: #434343;
    box-shadow: 3px 3px 3px grey;
    border-radius: 20px;
    padding: 20px 0 80px;
}
#formincription p{
    text-align: center;
    font-size: 1.4em;
}
#formincription span{
    color: rgb(168, 52, 52);
}
textarea{

    height:200px;
    width:80%;
    resize:none

}
input,textarea{
    border-radius: 5px;
    width:70%;
    border: 1px solid black;
    transition: all .2s ease-in-out;
    padding:4px 0 4px 10px;
    display: block;
    margin: 0 auto;
    background-color: rgb(209, 209, 209);
}

input:hover,textarea:hover{
     background-color: #f3f3f3;
}

input[type='submit']{
    background-color: rgb(209, 209, 209);
    margin-top: 40px;
    border: 1px solid black;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin:20px auto;
    max-width: 200px;
}
::placeholder{
    color: rgb(0, 0, 0);
}
input[type='submit']:hover{
    background-color: #fff;
    background-color: rgb(221, 175, 131);
    color: #fff;
    
}

label {
    font-size: 1.5em;
    display: block;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}
.reservation{
    text-align: center;
    font-size: 1.8em;
    margin-top: 50px;
}